<configuration>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>

  <!-- Debug logging for our components -->
  <logger name="com.flow" level="debug"/>
  <logger name="com.flow.adapter.util.ConfigLoader" level="debug"/>
  <logger name="com.flow.plugin.kafka.KafkaScanner" level="debug"/>
</configuration>
